
            h1{color:rgb(0, 13, 255); background-color:azure;}
            h2{color: rgb(255, 0, 0);background-color: bisque;}
            div{color: rgb(229, 107, 13);background-color: rgb(196, 196, 138);}
